.card{
    padding: 10px;
    box-shadow: 5px,5px,5px hsla(0, 2%, 42%, 0.541);
}

.Exam-main-list{
      display:flex;
      padding: 5px;

      margin-left: 35px;
      box-shadow: 5px,5px,5px hsla(0, 2%, 42%, 0.541);
}


.Exam-main-card3{
    flex: 3;
    padding: 10px;
    
}
.AssignCard{
    width: 750px;
    margin: 10px;
    padding: 12px;
    margin-left: 25px;
}
.ExamCard{
    width: 750px;
    margin: 10px;
    padding: 10px; 
    margin-left: 25px;
}
.view{
    margin-top: 25px;
}
@media all and (max-width:1664px) {
    .card{
        padding: 0px;
        box-shadow: 5px,5px,5px hsla(0, 2%, 42%, 0.541);
    }
    
    .Exam-main-list{
          display:flex;
          padding: 0px;
      
          margin-left: 35px;
          box-shadow: 5px,5px,5px hsla(0, 2%, 42%, 0.541);
    }
        
    .Exam-main-card3{
        flex: 3;
        padding: 0px;
    }
    .AssignCard{
        width: 600px;
        margin: 2px 10px;
        padding: 0px;
        margin-left: 25px;
    }
    .ExamCard{
        width: 600px;
        margin:5px 10px;
        padding: 10px; 
        margin-left: 25px;
    }
    .view{
        margin-top: 25px;
    }
  
  }